body{
    background-color: black;
    font-family: Ariel;
    margin: 0;
    padding: 0;
    overflow: auto;
    }

.main{
    background-color: grey;
	border-radius: 6px;
    width: 90%;
	min-width: 800px;
	margin: 20px auto;
    border: solid white 4px;
    }

.header{
    display: block;
    background-color: black;
    color: black;
    padding: 20px 35px 20px 30px;
	height: 150px;
    width: auto;
	overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    font-size: 25px;
    }
	
.banner{
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	min-height: 96px;	
	width: 100%;
	background-color: gold;
    border-radius: 20px;
	border: solid white 4px;

	}

.UWlogo{
	float: left;
	margin: -15px 30px 0px 40px;
	}

.name{
	display: inline-block;
	text-align: center;
	text-decoration: bold;
	text-shadow: 1px 1px white;
	margin-top: -8px;
	font-size: 28px;
	float: left;
	height: auto;
	width: auto;
	max-width: 70%;
	max-height: 80px;
    }

.nav{
    background-color: #363636;
    display: inline-block;
    position: sticky;
    text-align: center;
	border-top: solid white 5px;
	border-bottom: solid white 5px;
    top: 0;
    height: auto;
    width: 100%;
    padding: 0;
	margin: 0;
    }

ul {
    background-color: #363636;
    list-style-type: none;
    height: 70px;
    width: 100%;
    padding: 0;
    margin: 0;
    }

li {
    float: left;
    border-right: solid white;
    }

li a {
    display: inline-block;
    background-color: #363636;
	font-family: Helvetica;
    color: white;
    text-align: center;
    padding: 24px 60px;
    font-size: 20px;
    text-decoration: none;
    }

li a:hover {
    background-color: black;
    color: yellow;
    }

#home{
    background-color: white;
    width: 90%;
    margin: 30px auto;
	height: auto;
	overflow: hidden;
    display: block;
	border-radius: 10px;
	border: solid black 3px;
    }
	
.home-profile{
	margin: 20px auto;
	border: solid black 3px;
	padding: 10px;
	display: block;
	border-radius: 20px;
	width: 90%;
	}

.home-profile-picture-wrapper{
	display: inline-block;
	float: left;
	height: 250px;
	border: solid black 5px;
	padding: 15px;
	margin: 10px 20px 25px 10px;
	border-radius: 10px;
	}
	
.home-profile-picture{
	margin: 0 auto;
	background-image: url("profile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: solid black 1px;
	float: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	}	

#projects{
    background-color: white;
    width: 90%;
    text-align: center;
    margin: 0 auto;
	margin-top: 30px;
    display: block;
	border-radius: 20px;
	border: solid black 3px;	
	}

#resume{
    background-color: white;
    width: 90%;
    text-align: center;
    margin: 0 auto;
	margin-top: 30px;
    display: block;
	border-radius: 20px;
	border: solid black 3px;	
	}

#footer{
    display: block;
	overflow: auto;
    background-color: black;
	text-align: center;
    color: white;
    width: auto;
	margin-top: 35px;
    padding: 25px 15px 5px 15px;
    font-size: 20px;
    min-height: 100px;
	border-top: solid white 5px;
	border-radius: 0px 0px 5px 5px;
    }

#links{
	background: none;
	display: inline-block;
	margin: 0 auto;
	overflow:auto;
	height: auto;
	width: auto;
	margin: 0 auto;
	}
